@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');
p {
  color: #606265;
}
p {
  letter-spacing: 0.0125in;
}
[class~='services-info'] h1 {
  margin-left: 0pt;
}
[class~='services-content'] {
  padding-left: 2.5pc;
}
[class~='services-info'] h1 {
  margin-bottom: 15pt;
}
[class~='services-info'] h1 {
  margin-right: 0pt;
}
[class~='book-services'] button::after {
  content: '';
}
[class~='services-content'] {
  padding-bottom: 2.5pc;
}
[class~='services-content'] {
  padding-right: 2.5pc;
}
[class~='book-services'] button::after {
  position: absolute;
}
[class~='services-info'] h1 {
  margin-top: 15pt;
}
[class~='big-text'] h1 {
  font-size: 1.041666667in;
}
[class~='big-text'] h1 {
  font-weight: 700;
}
[class~='big-text'] h1 {
  background: linear-gradient(to right, #ef629f, #eecda3);
}
[class~='services-content'] {
  padding-top: 2.5pc;
}
[class~='big-text'] h1 {
  -webkit-background-clip: text;
}
[class~='services-content'] {
  width: 80%;
}
[class~='big-text'] h1 {
  background-clip: text;
}
[class~='book-services'] button::after {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}
p {
  line-height: 119%;
}
[class~='book-services'] button::after,
[class~='book-services'] button,
[class~='book-services'] button {
  outline: none;
}
[class~='services-content'] {
  height: 70vh;
}
[class~='services-content'],
[class~='big-text'] {
  margin-left: auto;
}
html {
  line-height: 1.15;
}
html {
  font-family: 'Nunito Sans', sans-serif;
}
[class~='big-text'] h1 {
  color: transparent;
}
[class~='book-services'] button {
  padding-left: 1.5pc;
}
[class~='book-services'] button::after,
[class~='book-services'] button {
  border-left-width: medium;
}
[class~='book-services'] button {
  padding-bottom: 10.5pt;
}
html {
  background-color: #f1f1f1;
}
* {
  margin-left: 0;
}
[class~='book-services'] button {
  padding-right: 1.5pc;
}
[class~='services-content'] {
  margin-bottom: 10%;
}
[class~='book-services'] button,
[class~='book-services'] button::after {
  border-bottom-width: medium;
}
[class~='book-services'] button,
[class~='book-services'] button::after {
  border-right-width: medium;
}
[class~='book-services'] button {
  padding-top: 10.5pt;
}
[class~='book-services'] button,
[class~='book-services'] button::after {
  border-top-width: medium;
}
html {
  background: #ddb9bd;
}
[class~='book-services'] button {
  background: linear-gradient(to right, #ef629f, #eecda3);
}
[class~='book-services'] button {
  color: #fff;
}
[class~='book-services'] button,
[class~='book-services'] button::after {
  border-left-style: none;
}
[class~='services-content'],
[class~='big-text'] {
  margin-right: auto;
}
[class~='book-services'] button,
[class~='book-services'] button::after {
  border-bottom-style: none;
}
* {
  margin-bottom: 0;
}
[class~='book-services'] button,
[class~='book-services'] button::after {
  border-right-style: none;
}
[class~='book-services'] button::after,
[class~='book-services'] button {
  border-radius: 0.104166667in;
}
html {
  background: -webkit-linear-gradient(to left, #ddb9bd, #bfe9ff);
}
* {
  margin-right: 0;
}
[class~='book-services'] button {
  font-size: 0.229166667in;
}
[class~='services-content'] {
  margin-top: 10%;
}
[class~='book-services'] button::after,
[class~='book-services'] button {
  border-top-style: none;
}
[class~='book-services'] button::after,
[class~='book-services'] button {
  border-left-color: currentColor;
}
[class~='book-services'] button {
  font-weight: 600;
}
[class~='book-services'] button {
  cursor: pointer;
}
[class~='book-services'] button,
[class~='services-content'] {
  position: relative;
}
[class~='book-services'] button,
[class~='services-content'] {
  transition: all 0.2s ease-in-out;
}
* {
  margin-top: 0;
}
[class~='book-services'] button::after,
[class~='book-services'] button {
  border-bottom-color: currentColor;
}
html {
  background: linear-gradient(to left, #ddb9bd, #bfe9ff);
}
[class~='book-services'] button {
  --borderwidth: 0.03125in;
}
[class~='services-info'] {
  width: 50%;
}
[class~='book-services'] button,
[class~='book-services'] button::after {
  border-right-color: currentColor;
}
html {
  scroll-behavior: smooth;
}
[class~='big-text'] {
  margin-bottom: 5%;
}
* {
  padding-left: 0;
}
* {
  padding-bottom: 0;
}
* {
  padding-right: 0;
}
[class~='book-services'] button,
[class~='book-services'] button::after {
  border-top-color: currentColor;
}
[class~='book-services'] button,
[class~='book-services'] button::after {
  border-image: none;
}
[class~='book-services'] button::after {
  z-index: -1;
}
* {
  padding-top: 0;
}
[class~='book-services'] button::after {
  animation: animatedgradient 3s ease alternate infinite;
}
[class~='book-services'] button::after {
  background-size: 300% 300%;
}
[class~='big-text'] {
  margin-top: 8%;
}
[class~='book-services'] button {
  border-radius: var(--borderWidth);
}
* {
  box-sizing: border-box;
}
[class~='book-services'] button:hover {
  transform: scale(1.1);
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#blob-1 {
  background-image: url('/img/services-img/uiux.svg');
}
#blob-2 {
  background-image: url('/img/services-img/Office management.gif');
}
#blob-3 {
  background-image: url('/img/services-img/digital.svg');
}
#blob-4 {
  background-image: url('/img/services-img/mobile-dev.svg');
}
[class~='blobs'] {
  position: absolute;
}
[class~='blobs'] {
  top: 47%;
}
[class~='blobs'] {
  left: 75%;
}
[class~='blobs'] {
  transform: translate(-50%, -50%);
}
[class~='blobs'] {
  z-index: -1;
}
[class~='blobs'] [class~='stop-1'] {
  stop-color: #eecda3;
}
[class~='blobs'] {
  width: 500px;
}
[class~='blobs'] {
  height: 31.25pc;
}
[class~='blobs'] {
  background-position: cover;
}
#blob-5 {
  background-image: url('/img/services-img/SEO-pana.svg');
}
[class~='blobs'] {
  background-position: center center;
}
[class~='blobs'] {
  background-size: cover;
}
[class~='blobs'] {
  margin-left: 1.25pc;
}
[class~='blobs'] {
  margin-bottom: 1.25pc;
}
[class~='blobs'] {
  margin-right: 1.25pc;
}
[class~='blobs'] {
  margin-top: 1.25pc;
}
[class~='blobs'] svg {
  width: 220%;
}
[class~='blobs'] {
  box-shadow: 5.25pt 0.239583333in 1in 0.625pc rgba(13, 110, 253, 0.6);
}
[class~='blobs'] {
  animation: blobAnimate 5s infinite linear;
}
[class~='blobs'] [class~='stop-2'] {
  stop-color: #ef629f;
}
[class~='blobs'] {
  transition: all 1s ease-in-out;
}
[class~='blobs'] svg {
  height: 220%;
}
@keyframes blobAnimate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
[class~='tooltip']:hover [class~='tooltiptext'] {
  visibility: visible;
}
[class~='services-slider-container'] {
  position: fixed;
}
[class~='services-slider-container']:hover {
  bottom: -32%;
}
.slider-box:nth-child(1) {
  transform: translate(-600%, 300%);
}
[class~='slider-box']:nth-child(2) {
  transform: translate(-435%, 100%);
}
[class~='slider-box']:nth-child(3) {
  transform: translate(-50%, -50%);
}
[class~='slider-box']:nth-child(4) {
  transform: translate(350%, 100%);
}
[class~='services-slider-container'] {
  bottom: -42%;
}
[class~='tooltip'] [class~='tooltiptext'],
[class~='slider-box'],
[class~='services-slider-container'],
[class~='services-slider-container']::before {
  left: 50%;
}
[class~='services-slider-container']::before {
  content: '';
}
.slider-box:nth-child(5) {
  transform: translate(510%, 300%);
}
[class~='tooltip'] [class~='tooltiptext'],
[class~='services-slider-container'],
[class~='services-slider-container']::before {
  transform: translateX(-50%);
}
[class~='tooltip'] [class~='tooltiptext'] {
  visibility: hidden;
}
[class~='services-slider-container']::before,
[class~='tooltip'] [class~='tooltiptext'] {
  position: absolute;
}
[class~='services-slider-container'] {
  z-index: 99;
}
[class~='services-slider-container'] {
  cursor: pointer;
}
[class~='tooltip'] [class~='tooltiptext'] {
  width: 90pt;
}
[class~='services-slider-container'] {
  transition: all 1.3s ease-in-out;
}
[class~='services-slider-container']::before {
  top: -0.104166667in;
}
[class~='services-slider-content'] {
  position: relative;
}
[class~='services-slider-content'] {
  width: 375pt;
}
[class~='services-slider-content'] {
  height: 31.25pc;
}
[class~='tooltip'] [class~='tooltiptext'] {
  background-color: #333;
}
[class~='services-slider-content'] {
  border-left-width: 0.020833333in;
}
[class~='services-slider-content'] {
  border-bottom-width: 0.020833333in;
}
[class~='tooltip'] [class~='tooltiptext'] {
  color: #fff;
}
[class~='tooltip'] [class~='tooltiptext'] {
  text-align: center;
}
[class~='tooltip'] [class~='tooltiptext'] {
  border-radius: 0.375pc;
}
[class~='services-slider-content'] {
  border-right-width: 0.020833333in;
}
[class~='services-slider-content'] {
  border-top-width: 0.020833333in;
}
[class~='services-slider-container']::before {
  width: 15pt;
}
[class~='tooltip'] [class~='tooltiptext'] {
  padding-left: 3.75pt;
}
[class~='services-slider-container']::before {
  height: 1.25pc;
}
[class~='services-slider-container']::before {
  background-color: #f1f1f1;
}
[class~='tooltip'] [class~='tooltiptext'] {
  padding-bottom: 3.75pt;
}
[class~='services-slider-content'] {
  border-left-style: solid;
}
[class~='tooltip']:hover [class~='tooltiptext'] {
  opacity: 1;
}
[class~='services-slider-content'],
[class~='services-slider-container']::before {
  border-radius: 50%;
}
[class~='tooltip'] [class~='tooltiptext'] {
  padding-right: 3.75pt;
}
[class~='tooltip'] [class~='tooltiptext'] {
  padding-top: 3.75pt;
}
[class~='slider-box'] img {
  width: 50px;
}
[class~='services-slider-content'] {
  border-bottom-style: solid;
}
[class~='tooltip'] [class~='tooltiptext'] {
  z-index: 1;
}
[class~='tooltip'] [class~='tooltiptext'] {
  bottom: 125%;
}
[class~='services-slider-content'] {
  border-right-style: solid;
}
[class~='services-slider-content'] {
  border-top-style: solid;
}
[class~='services-slider-content'] {
  border-left-color: #f1f1f1;
}
[class~='services-slider-content'] {
  border-bottom-color: #f1f1f1;
}
[class~='tooltip'] [class~='tooltiptext'] {
  opacity: 0;
}
[class~='tooltip'] [class~='tooltiptext'] {
  transition: opacity 0.6s;
}
[class~='services-slider-content'] {
  border-right-color: #f1f1f1;
}
[class~='slider-box'] img {
  height: 3.125pc;
}
[class~='services-slider-content'] {
  border-top-color: #f1f1f1;
}
[class~='services-slider-content'] {
  border-image: none;
}
[class~='services-slider-content'] {
  display: flex;
}
[class~='services-slider-content'] {
  justify-content: space-between;
}
[class~='slider-box'] {
  position: absolute;
}
[class~='slider-box'] {
  top: -10%;
}
[class~='slider-box'] {
  transform: translate(-50%, -50%);
}
[class~='tooltip'] {
  display: inline-block;
}
[class~='slider-box'] img:hover {
  transform: scale(1.1);
}
